/*====================================
  共通 
=====================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #363636;
    background: #FFF;
}

p {
    font-size: 1.5rem;
    line-height: 3rem;
}

ul {
    list-style-type: none;
}

.fw-bold {
    font-weight: bold;
}

.con980 {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

.fc-white {
    color: #fff;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.bg-w {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.8);
}

.bg-b {
    padding: 20px 0;
    background: #363636;
}

.bg-be {
    padding: 20px 0;
    background: #F6EDD9;
}

h2 {
    display: block;
    font-family: 'Impact';
    font-size: 5.5rem;
    text-align: center;
    color: #FFF;
    letter-spacing: 10px;
    text-shadow: #333 0px 2px 2px;
}

h2 span {
    display: block;
    font-family: 'メイリオ', 'Meiryo';
    font-weight: 500;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: #333 0px 2px 2px;
    margin-bottom: 20px;
}

.h2-2 {
    color: #363636;
    text-shadow: none;
}

.h2-2 span {
    color: #363636;
    text-shadow: none;
}

h3 {
    font-family: 'arial black';
    font-size: 3rem;
    color: #FFF;
    letter-spacing: 5px;
}

.h3-2 {
    color: #F6EDD9;
    text-shadow: 1px 1px 0px #363636, -1px 1px 0px #363636, 1px -1px 0px #363636, -1px -1px 0px #363636, 1px 0px 0px #363636, 0px 1px 0px #363636, -1px 0px 0px #363636, 0px -1px 0px #363636;
}

h4 {
    font-size: 1.8rem;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
}

.flex-wrap {
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

.box-2 {
    width: calc(50% - 20px);
    padding: 0 20px;
    margin: 0 10px;
    vertical-align: middle;
}

.box-3 {
    width: calc(33% - 20px);
    margin: 0 10px;
    font-size: 0;
}

.grayscale img {
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

.grayscale:hover img {
    filter: grayscale(0);
}

@media screen and (max-width:980px) {
    .con980 {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .flex-wrap {
        display: block;
    }
    .box-2 {
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 10px;
    }
    .box-3 {
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}

/*====================================
  ボタン 
=====================================*/

.button {
    font-family: 'arial black';
    letter-spacing: 3px;
    width: 200px;
    position: relative;
    display: inline-block;
    color: #333;
    padding: 10px 20px;
    background: #fff;
    font-weight: bold;
    font-size: 2.2rem;
    ;
    text-decoration: none;
    outline: none;
    transition: all .3s;
    transition-delay: .5s;
}

.button:hover {
    background: #84945D;
    color: #fff;
}

.button span {
    display: block;
}

.button::before, .button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #333;
    transition: all 0.2s linear;
}

.button span::before, .button span::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background: #333;
    transition: all 0.2s linear;
}

.button:hover::before, .button:hover::after {
    width: 100%;
}

.button:hover span::before, .button:hover span::after {
    height: 100%;
}

.bordercircle3::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.bordercircle3 span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.bordercircle3::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

.bordercircle3 span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

/*====================================
  ヘッダー 
=====================================*/

.header {
    width: 100%;
    position: fixed;
    background: #FFF;
    align-items: baseline;
    overflow: hidden;
    clear: both;
    line-height: 48px;
    z-index: 999;
}

.logo {
    font-family: 'arial black';
    color: #84945D;
    font-size: 4rem;
    padding: 0 30px;
    float: left;
}

.logo a {
    color: #84945D;
    text-decoration: none;
}

.nav_pc {
    display: block;
}

.nav_pc ul {
    display: flex;
    margin-right: 20px;
    float: right;
    list-style-type: none;
}

.nav_pc ul li {
    margin-left: 20px;
    font-size: 2rem;
    border-bottom: solid 3px #FFF;
    transition: all 0.3s;
}

.nav_pc li a {
    text-decoration: none;
    color: #363636;
    width: 100%;
    margin: 5px;
}

.nav_pc li:hover {
    border-bottom: solid 3px #84945D;
}

#g-nav {
    display: none;
}

.openbtn {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo a, .logo {
        padding: 0 10px;
    }
    .nav_pc {
        display: none;
    }
    #g-nav.panelactive {
        display: block;
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .circle-bg {
        position: fixed;
        z-index: 3;
        /*丸の形*/
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #F6EDD9;
        transform: scale(0);
        right: -50px;
        top: -50px;
        transition: all .6s;
    }
    .circle-bg.circleactive {
        transform: scale(50);
    }
    #g-nav-list {
        display: none;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    #g-nav.panelactive #g-nav-list {
        display: block;
    }
    #g-nav ul {
        opacity: 0;
        position: absolute;
        z-index: 999;
        top: 45%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    #g-nav.panelactive ul {
        opacity: 1;
    }
    #g-nav.panelactive ul li {
        animation-name: gnaviAnime;
        animation-duration: 1s;
        animation-delay: .2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    @keyframes gnaviAnime {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #g-nav li {
        text-align: center;
        list-style: none;
    }
    #g-nav li a {
        color: #84945D;
        font-size: 1.8em;
        text-decoration: none;
        padding: 10px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }
    #g-nav li a:hover {
        background: #84945D;
        color: #F6EDD9;
    }
    .openbtn {
        display: block;
        position: fixed;
        top: 3px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .openbtn span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #363636;
        width: 45%;
    }
    .openbtn span:nth-of-type(1) {
        top: 15px;
    }
    .openbtn span:nth-of-type(2) {
        top: 23px;
    }
    .openbtn span:nth-of-type(3) {
        top: 31px;
    }
    .openbtn.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }
    .openbtn.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
}

/*====================================
  パララックス 
=====================================*/

.parallax {
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5% 0;
}

.parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
}

.img-bg-01 {
    background-image: url('image/main1.jpg');
}

.img-bg-02 {
    background-image: url('image/main2.jpg');
}

.img-bg-03 {
    background-image: url('image/main3.jpg');
}

.scrollbox {
    background-color: #F6EDD9;
}

.scrollbox2 {
    background: #363636;
}

@media screen and (max-width:768px) {
    .parallax-bg {
        background-attachment: scroll;
    }
    .parallax {
        padding: 5% 0;
    }
}

/*====================================
  コンセプト 
=====================================*/

.kakko {
    position: relative;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.4;
    padding: 0.25em 1em;
    display: inline-block;
}

.kakko::before {
    border-left: solid 2px #84945D;
    border-top: solid 2px #84945D;
    top: 0;
    left: 0;
}

.kakko::after {
    border-right: solid 2px #84945D;
    border-bottom: solid 2px #84945D;
    bottom: 0;
    right: 0;
}

.kakko::before, .kakko::after {
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

/*====================================
  メニュー 
=====================================*/

#menu table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto;
}

#menu tr {
    border-bottom: solid 1px #363636;
}

#menu td {
    font-size: 1.4rem;
    color: #363636;
    line-height: 3.6rem;
    letter-spacing: 3px;
}

/*====================================
  アクセス 
=====================================*/

#access table {
    width: 100%;
    font-size: 1.6rem;
    line-height: 3rem;
    border-collapse: collapse;
    border-spacing: 0;
    letter-spacing: 3px;
    color: #FFF;
    margin: 20px auto;
}

#access table th {
    vertical-align: top;
    padding: 30px 0 30px 57px;
}

#access table tr {
    text-align: left;
    border-bottom: solid 1px #555;
    padding: 30px 0;
}

.access_box {
    width: 50%;
}

@media screen and (max-width:768px) {
    .access_box {
        width: 100%;
    }
    #access table th {
        padding: 20px 0 20px 10px;
    }
    #access table tr {
        padding: 20px 0;
    }
}

/*====================================
  ニュース 
=====================================*/

#news ul {
    font-size: 1.8rem;
    color: #333;
    padding: 5px;
    text-align: left;
    list-style-type: none;
    padding: 0 20px;
}

#news ul p {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

#news .day {
    width: 110px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 5px 0;
}

#news .category_news {
    width: 60px;
    text-align: center;
    background: #84945D;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F6EDD9;
}

#news .category_blog {
    width: 60px;
    text-align: center;
    background: #F6EDD9;
    font-size: 1.5rem;
    font-weight: bold;
    color: #84945D;
}

#news ul a {
    color: #333;
    font-size: 1.8rem;
    text-decoration: none;
    padding-left: 5px;
}

#news ul a:hover {
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    #news ul li {
        border-bottom: solid 2px #84945D;
        margin-bottom: 15px;
    }
}

/*====================================
  採用情報 
=====================================*/

#recruit p {
    padding-top: 90px;
}

@media screen and (max-width:768px) {
    #recruit p {
        padding-top: 0;
    }
}

/*====================================
  フッター 
=====================================*/

footer {
    padding: 40px 0;
}

.footer-wrap {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo {
    display: inline-block;
    width: calc(40% - 10px);
    padding: 0 5px;
    order: 1;
}

.footer-list {
    display: inline-block;
    width: calc(60% - 10px);
    padding: 0 5px;
    order: 2;
}

footer .logo {
    font-family: 'arial black';
    color: #84945D;
    font-size: 4rem;
    padding: 0 5px;
    float: none;
}

.copy {
    padding-top: 5px;
    font-size: 1.1rem;
}

footer ul {
    list-style: none;
    text-align: left;
}

footer ul li::before {
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    color: #84945D;
    font-weight: 900;
    padding-right: 5px;
}

footer ul a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

footer table {
    width: 100%;
    text-align: left;
}

footer tr {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

@media screen and (max-width:768px) {
    .footer-logo {
        width: 100%;
        order: 2;
    }
    .footer-list {
        width: 60%;
        margin: 10px auto;
        order: 1;
    }
}

/*====================================
  ページトップ 
=====================================*/

#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #84945D;
    border-radius: 100vh;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
}

/*リンクを右下に固定*/

#page-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

#page-top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

/*　上に上がる動き　*/

#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/

#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

/*====================================
  タブ 
=====================================*/

#page-link {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

#page-link li {
    display: inline-block;
    width: calc(25% - 10px);
    margin: 0 3px;
}

#page-link ul {
    width: 100%;
}

h3.catlog {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
}

h3.catlog2 {
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
}

h3.catlog::before,h3.catlog2::before {
    content: '#';
    color: #84945D;
}

a.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: repeating-linear-gradient(45deg, #ffffff, #ffffff 3px, #F6EDD9 3px, #F6EDD9 30px);
    color: #333;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
}

a.button2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid #333;
    position: absolute;
    top: -6px;
    left: -6px;
    transition-duration: 0.2s;
}

a.button2:hover span {
    left: -1px;
    top: -1px;
}

.photo-box img {
    width: 80%;
    min-height: 385px;
    object-fit: cover;
    margin-bottom:0;
}

.title-box {
    width: 80%;
    padding: 10px;
    margin: 0 auto 20px auto;
}

.title-box h4{
    padding: 0 10px 5px 10px;
    border-bottom: 1px solid #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.title-box p{
    padding: 5px 10px;
    font-size: 1.5rem;
    color:#333;
    text-align: left;
}